.crypto-list {
    flex: 1;
    margin: 6rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-height: 500px;
    overflow-y: auto;
    background-color: #c6c91bd8;
    border-bottom: 600cap;
  }
  
  .crypto-list h2 {
    margin-bottom: 7px;
    text-align: center;
  }


  .crypto-list ul {
    list-style-type: none;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .crypto-list li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #68676b;
    cursor: pointer;
  }
  
  .crypto-list li:hover, .crypto-list li.selected {
    background-color: rgb(114, 111, 111);
  }
  
  .crypto-list li img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .crypto-list li span {
    margin-right: 10px;
  }
  
  .crypto-list .positive {
    color: green;
  }
  
  .crypto-list .negative {
    color: red;
  }




  /* .crypto-list {
    list-style-type: none;
    padding: 0;
  }
  
  .crypto-item {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .crypto-item:last-child {
    border-bottom: none;
  }
  
  .crypto-item:hover {
    background-color: #f0f0f0;
  }
  
  .crypto-item img {
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
  }
  
  .crypto-item-details {
    flex-grow: 1;
  }
  
  .crypto-name {
    font-weight: bold;
  }
  
  .crypto-symbol {
    color: #7f8c8d;
    font-size: 0.8rem;
  }
  
  .crypto-price {
    font-weight: bold;
    color: #2ecc71;
  } */