.chart-container {
    flex: 2;
    max-width: 1000rem;
    background-color: black;
    margin: 2rem
    

  }
  
  .chart-container h2 {
    margin-bottom: 0px;
    text-align: center;
  }


  .crypto-chart {
    width: 80%;
    height: 700px;
    align-content: center;

  }
  
  .crypto-chart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .crypto-chart-title {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .crypto-chart-price {
    font-size: 1.1rem;
    font-weight: bold;
    color: #089141;
  }